
<div class="row align-content-center" style="height: 80%;">
    <div class="col-2 "></div>
    <div class="col-8 ">
        <img class="d-block mx-auto" src="./icons/place-illus.svg" width="100%"/>
    </div>
    <div class="col-2 "></div>
    <div class="col-12 caption text-center  text-white">Keep track of your favourite places</div>
    <div class="col-12">
        
        <div class="btn btn-primary d-block w-50 mt-2 mx-auto" data-toggle="modal"
        data-target="#addEventModal" style="font-size: 75%; font-weight: 700;">Add Place</div>
    </div>

    <div id="search-bar" class="col-12">

    </div>
</div>