@charset "UTF-8";
.str2 {stroke:#4D4D4D;stroke-width:6.66709}
.str1 {stroke:#4D4D4D;stroke-width:2.88}
.str0 {stroke:#4D4D4D;stroke-width:9.99685;stroke-linecap:round}
.str3 {stroke:#4D4D4D;stroke-width:19.1962;stroke-linecap:round}
.fil0 {fill:none}
.fil1 {fill:#4D4D4D}
