<div class="card border-0 border-bottom" style="border-radius: 0;">
    <div class="row">
        <div class="col-9 d-flex">
            <div class="row align-self-center">
                <div class="col-12">
                    {{evt.title}}
                </div>
                <small class="text-muted font-weight-bold col-12" style="font-size: 0.75rem;">
                    {{evt.time | date: 'short'}}
                </small>
            </div>
        </div>
        <div class="col-3">
            <img class="responsive float-left" src="./icons/clear-day.svg" style="height: 80px;" />
        </div>
    </div>
</div>