<div class="events-page container h-100">
    <!-- <h3>Events</h3> -->
    <event-card ng-repeat="evt in ec.events"></event-card>



</div>
<div class="row position-absolute" style="left: 50%;
bottom: 10px;
 transform: translateX(-50%);">
    <div class="btn-group">
        <button class="btn btn-default btn-main circle px-0 mr-3" title="Add New Event" aria-details="Add New Event"
            style="height: 54px; width: 54px;  border-radius: 50%;">
            <img class="" src="./icons/add-48px.svg" width="30px">
        </button>

        <button class="btn btn-default btn-main circle px-0 ml-3" title="Manage Events"
            style="height: 54px; width: 54px; border-radius: 50%;">
            <img class="" src="./icons/settings-48px.svg" width="30px">
        </button>
    </div>
</div>