<div class="events-page container h-100 px-0">
    <!-- <h3>Events</h3> -->
    <div ng-if="eventsData.length === 0 || !eventsData" class="row align-content-center" style="height: 80%;">
        <div class="col-2"></div>
        <div class="col-8">
            <img class="d-block mx-auto" src="./icons/event-illus.svg" width="100%"/>
        </div>
        <div class="col-2"></div>
        <div class="col-12 caption text-center  text-white">Get weather updates for upcoming events</div>
        <div class="col-12">
            <div class="btn btn-primary d-block w-50 mt-2 mx-auto" data-toggle="modal"
            data-target="#addEventModal" style="font-size: 75%; font-weight: 700;">Add Event</div>
        </div>
    </div>
    <event-card ng-repeat="evt in eventsData | orderBy:+created" event-data="evt"></event-card>

</div>

<div id="addEventModal" class="modal fade" ng-class="{'show': addEventDialog}" tabindex="-1" role="dialog"
    aria-hidden="true">

    <div class="modal-dialog" ng-class="{'show': addEventDialog}" style="top: 10%;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <h2 class="font-weight-bold" id="AddEventModalLabel">Add Event</h2>
                <!-- <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> -->

            </div>
            <form role="form" name="AddEventForm" ng-submit="ec.submit()">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" ng-model="event.title" class="form-control event-input" id=""
                            placeholder="Add event title">
                        <label class="sr-" style="font-size: 60%;">Title</label>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <input type="date" ng-model="event.date" class="form-control event-input" id=""
                                placeholder="Day">
                            <div class="indicator"></div>
                            <label class="s" style="font-size: 60%;">Date</label>
                        </div>

                        <!-- <div class="col-3 form-group">
                            <input type="month" min="01" class="form-control" id="" placeholder="Month" aria-valuetext="05">
                            <label class="sr-only" style="font-size: 60%;"><small>Month</small></label>
                        </div>

                        <div class="col-6 form-group">
                            <input type="year" class="form-control" id="" placeholder="Year">
                            <label class="sr-only" style="font-size: 60%;"><small>Year</small></label>
                        </div> -->
                    </div>

                    <div class="form-group">
                        <input type="time" ng-model="event.time" class="form-control event-input" id=""
                            aria-valuenow="12:00 AM" placeholder="05 : 00" style="font-size: 250%;">
                        <label class="sr-" style="font-size: 60%;">Time</label>
                    </div>

                </div>

                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>Close</button>
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>

</div>

<div ng-if="eventsData.length > 0" class="btn-group position-absolute" style="left: 50%; bottom: 10px;transform: translateX(-50%);"
    ng-show="!editingEvents">
    <button class="btn btn-default btn-main float-left circle px-0 mr-3" data-toggle="modal"
        data-target="#addEventModal" title="Add New Event" aria-details="Add New Event"
        style="height: 54px; width: 54px;  border-radius: 50%;">
        <img class="" src="./icons/add-48px.svg" width="30px">
    </button>

    <button ng-click="enterEditMode()" class="btn btn-default float-right btn-main circle px-0 ml-3"
        title="Manage Events" style="height: 54px; width: 54px; border-radius: 50%;">
        <img class="" src="./icons/settings-menu-48px.svg" width="30px" />
    </button>
</div>

<div class="position-absolute"ng-if="eventsData.length > 0" ng-click="leaveEditMode()" ng-show="editingEvents"
    style="left: 50%; bottom: 10px;transform: translateX(-50%);">
    <button class="btn btn-default btn-main circle px-0" title="Done"
        style="height: 54px; width: 54px; border-radius: 50%;">
        <img src="./icons/done-48px.svg" width="40px" />
    </button>
</div>