<div class="event-card card border-0 px-3" style="border-radius: 0;">
    <div class="row h-100">
        <div class="w-100 h-100 px-3 d-flex text-white justify-content-between align-items-center position-absolute" 
        ng-show="deleting" style="z-index: 4; background-color: red;">
            <div class="flex-item font-weight-bold">Deleted</div>
            <div class="flex-item" ng-click="cancelDelete()">
                <img src="./icons/refresh-spinner-24px.svg"  width="32px"/>
            </div>
        </div>
        <div class="col-8 d-flex">
            <div class="row align-self-center">
                <div class="col-12 text-white">
                    {{eventData.title}}
                </div>
                <small class="text-white font-weight-bold col-12" style="font-size: 0.75rem;">
                    {{eventData.time | date: 'MMM dd HH:MM'}}
                </small>
            </div>
        </div>
        <div class="col-4 d-flex space-around">
            <div class="btn-group w-100 mx-auto d-flex align-self-center" ng-show="editMode">
                <button ng-click="edit()" class="btn btn-default flex-item circle px-0" data-toggle="modal"
                data-target="#editEventModal" title="Edit">
                    <span><img src="./icons/edit-48px.svg" width="34px" /></span></button>

                <button ng-click="startDelete()" class="btn btn-default flex-item circle px-0" title="Delete">
                    <span><img src="./icons/delete-48px.svg" width="34px" /></span></button>
            </div>
            <div class="d-flex justify-content-center" ng-show="!editMode">
                <div class="text-white flex-item align-self-center">{{weatherData.temperature | tempUnit}}&deg;</div>
                <img class="responsive position-absolute flex-item align-self-center"
                    ng-src="./icons/{{weatherData.icon}}.svg" style="max-height: 80%; right: 15px;" />
            </div>
        </div>
    </div>
</div>